* {
  box-sizing: border-box;
}
a, button {
	cursor: pointer;
}


@font-face {
    font-family: 'gotham_pro';
    src: url('fonts/gothampro_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_pro';
    src: url('fonts/gothampro_medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: "gotham_pro",sans-serif;
	font-weight: 400;
}
.wrap__100 {
	padding-top: 103px;
	padding-bottom: 103px;
}
.wrap__40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.price {
	max-width: 1092px;
	border: 3px solid #FF5900;
	border-radius: 5px;
	padding: 84px 102px 47px 90px;
	margin: 0 auto;
}
.price__h1 {
	font-family: "gotham_pro",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	text-align: center;
	padding-bottom: 80px;
}
.price__h1_red {
	color: #FF5900;
}
.price__h1_nopad {
	padding-bottom: 0;
}
.price__wraprow {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}
.price__arrow {
	position: absolute;
	right: 48px;
}
.price__wraprow_start {
	justify-content: start;
}
.price__wrapinner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 725px;
}
.price__p {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	flex-basis: 175px;
}
.price__select, .price__input {
	border: 1px solid #DBDBDB;
	border-radius: 3px;
	min-height: 60px;
	flex-grow: 2;
	padding-left: 35px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'gotham_pro', sans-serif;
	color: #000;
}
.price__select  {
    width: 14px;
	height: 7px;
	padding-right: 35px;
	appearance: none;  
}
.price__meter {
	flex: auto;
	padding-left: 8px;
}
.price__options {
	font-size: 14px;
	font-weight: 700;
}
.price__input_170w {
	max-width: 171px;
}
.price__input_120w {
	max-width: 121px;
}
.price__range {
	height: 7px;
	flex-basis:525px;
	-webkit-appearance: none;
	background-color: #DBDBDB;
	-webkit-appearance: none;
	margin-right: 15px;
	width: 200px;
	height: 7px;
	background: #DBDBDB;
	border-radius: 5px;
	background-image: linear-gradient(#ff4500, #ff4500);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}
.price__range_yellow {
	background-image: linear-gradient(#FECC2C, #FECC2C);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}
.price__range::-webkit-slider-thumb {
	width: 21px;
	-webkit-appearance: none;
	height: 21px;
	border: #ffffff 6px solid;
	background: #FF5900;
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
.price__range_yellow::-webkit-slider-thumb {
	background: #FECC2C;
}
.price__button {
	margin: 0 auto;
	display: block;
	width: 261px;
	height: 59px;
	background: #FF5900;
	border-radius: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	transition: all ease-in-out 250ms;
}
.price__button:hover {
	box-shadow: 0 0 5px #ff4500 ;
}
.price__button_wrap {
	padding-top: 20px;
}
.price__button_yellow {	
	display: none;
	background: #FFD700;
	color: 	#222222;
	font-weight: 700;
	width: 158px;
	height: 54px;
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
}
.price__rooms {
	flex: auto;
	display: inline-block;
	overflow: hidden;
}
.price__roomitem {
	float: left;
	display: inline-block;
}
.price__roominput {
	display: none;
}
.price__roomlabel {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 15px;   
	line-height: 34px;   
	width: 75px;
	height: 60px; 
	border: 1px solid #DBDBDB;
	border-right: none;
	cursor: pointer;
	user-select: none;   
}
.price__roomitem_left .price__roomlabel {
	border-radius: 6px 0 0 6px;
}
.price__roomitem_right .price__roomlabel {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #DBDBDB;
}
.price__roominput:checked + .price__roomlabel {
	background: #FF5900;
	color: #fff;
}
.price__check {
	width: 21px;
	-webkit-appearance: none;
	height: 21px;
	border: #ffffff 6px solid;
	
	border-radius: 50%;
	box-shadow: 0px 0px 3px #DBDBDB;
}
.price__check:checked {
	background: #FF5900;
}
.price__label {
	padding-left: 10px;
	min-width: 78px;
}
.price_gray {
  max-width: 1277px;
  background: #F5F5F5;
  border: 3px solid #FECC2C;
  border-radius: 5px;
}
.price__info {
	max-width: 725px;
	background: linear-gradient(90deg, #FED02D 0%, #FF9823 100%);
	border-radius: 5px;
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 32px 40px;
}
.price__infowrap {
	flex-grow: 1;
}
.price__line {
	width: 107px;
	height: 0px;
	border: 1px dashed #FFFFFF;
	transform: rotate(90deg);
}
.price__switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}  
.price__switch input {
opacity: 0;
width: 0;
height: 0;
}
.price__slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
.price__slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
.price__checkbox:checked + .price__slider {
background-color: #FECC2C;
}
.price__checkbox:checked + .price__slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
.price__slider.price__round {
border-radius: 34px;
}
.price__slider.price__round:before {
border-radius: 50%;
}
@media screen and (max-width: 1092px) {
	.price {
		border: none;
		padding-right: 40px;
		padding-left: 30px;
		padding-top: 33px;
	}
	.price__h1 {
		font-size: 16px;
		max-width: 343px;
		margin:  0 auto;
		padding-bottom: 4px;
		min-height: 70px;
	}
	.price__h1_red {
		white-space: nowrap;
	}
	.price__p {
		padding-bottom: 5px;
		font-size: 13px;
	}
	.price__select {
		width: 100%;
	}
	.price__wraprow {
		flex-wrap: wrap;
	}
	.price__button_yellow {
		display: block;
	}
 }
 @media screen and (max-width: 600px) {
	.price {
		padding-right: 19px;
		padding-left: 13px;
	}
 }

  input[type="number"] {
	width: 40px;
  }
    
  input[type="range"] {
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
  }    
  
  .sliders__content {
	display: flex;
	position: relative;
	justify-content: space-between; }
  
  .sliders__elems {
	display: flex;
	align-items: flex-end;
	width: 44%;
	height: 8.7rem; }
  
  .sliders__slider {
	width: 100%;
	margin-bottom: 2.31rem;
	height: 0.7rem;
	-webkit-appearance: none;
	appearance: none;
	background-color: #e5e5e5;
	border-radius: 5px;
	outline: none; }
	.sliders__slider::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none;
	  width: 2.4rem;
	  height: 2.4rem;
	  border-radius: 50%;
	  cursor: pointer; }
  
  .sliders__slider_color-orange::-webkit-slider-thumb {
	background-color: #e75735; }
  
  .sliders__pointer {
	position: absolute;
	background-color: transparent;
	bottom: 30px;
	color: #FECC2C;
	font-size: 1.5rem;
	font-weight: 600; }
  