* {
  box-sizing: border-box;
}
a, button {
	cursor: pointer;
}


@font-face {
    font-family: 'gotham_pro';
    src: url('fonts/gothampro_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_pro';
    src: url('fonts/gothampro_medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: "gotham_pro",sans-serif;
	font-weight: 400;
}
.wrap__100 {
	padding-top: 103px;
	padding-bottom: 103px;
}
.wrap__40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.price {
	max-width: 1092px;
	border: 3px solid #FF5900;
	border-radius: 5px;
	padding: 84px 102px 47px 90px;
	margin: 0 auto;
}
.price__h1 {
	font-family: "gotham_pro",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	text-align: center;
	padding-bottom: 80px;
}
.price__h1_red {
	color: #FF5900;
}
.price__h1_nopad {
	padding-bottom: 0;
}
.price__wraprow {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}
.price__wraprow_yellow {
	padding-bottom: 44px;
}
.price__wraprow_left {
	justify-content: start;
	padding-top: 13px;
	padding-bottom: 49px;
}
.price__arrow {
	position: absolute;
	right: 48px;
}
.price__arrow_white {
	z-index: 1;
    content: "";
    position: absolute;
	top: 11px;
	left: 15px;
	width: 16px;
	height: 16px;
}
.price__wraprow_start {
	justify-content: start;
}
.price__wrapinner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 719px;
}
.price__p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	flex-basis: 175px;
}
.price__p_large {
	font-weight: 400;
	font-size: 22px;
	line-height: 120%;
}
.price__p_minor {
	flex-basis: 120px;
}
.price__p_mobile {
	flex-basis: 240px;
}
.price__select, .price__input {
	border: 1px solid #DBDBDB;
	border-radius: 3px;
	min-height: 60px;
	flex-grow: 2;
	padding-left: 35px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'gotham_pro', sans-serif;
	color: #000;
	transition: 300ms;
}
.price__select:focus, .price__input:focus {
	box-shadow: 0 0 5px #ccc;
}
.price__select  {
    width: 14px;
	height: 7px;
	padding-right: 35px;
	appearance: none;  
}
.price__meter {
	flex: auto;
	padding-left: 8px;
}
.price__options {
	font-size: 14px;
	font-weight: 700;
}
.price__input_170w {
	flex-basis: 171px;
}
.price__input_170w * {
	width: 100%;
}
.price__input_120w {
	max-width: 121px;
}
.price__wrapcount {
	flex-basis:944px;

}
.price__psmall_wrap {
	display: flex;
	justify-content: space-between;
	padding-top: 11px;
}
.price__range {
	height: 7px;
	flex-basis:525px;
	-webkit-appearance: none;
	background-color: #DBDBDB;
	-webkit-appearance: none;
	width: 200px;
	height: 7px;
	background: #DBDBDB;
	border-radius: 5px;
	background-image: linear-gradient(#ff4500, #ff4500);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}
.price__range_yellow {
	width: 100%;
	flex-basis:auto;
	background-image: linear-gradient(#FECC2C, #FECC2C);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}
.price__range::-webkit-slider-thumb {
	width: 21px;
	-webkit-appearance: none;
	height: 21px;
	border: #ffffff 6px solid;
	background: #FF5900;
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
.price__range_yellow::-webkit-slider-thumb {
	background: #FECC2C;
}
.price__button {
	width: 261px;
	height: 59px;
	background: #FF5900;
	border-radius: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	transition: all ease-in-out 250ms;
}
.price__button:hover {
	box-shadow: 0 0 5px #ff4500 ;
}
.price__button_wrap {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.price__button_yellow {	
	display: none;
	background: #FFD700;
	color: 	#222222;
	font-weight: 700;	
    max-width: 158px;
	height: 54px;
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
}
.price__btninner:last-child {
	padding-left: 15px;
}
.price__rooms {
	flex: auto;
	display: inline-block;
	overflow: hidden;
}
.price__roomitem {
	float: left;
	display: inline-block;
}
.price__roominput {
	display: none;
}
.price__roomlabel {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 15px;   
	line-height: 34px;   
	width: 75px;
	height: 60px; 
	border: 1px solid #DBDBDB;
	border-right: none;
	cursor: pointer;
	user-select: none;   
}
.price__roomitem_left .price__roomlabel {
	border-radius: 6px 0 0 6px;
}
.price__roomitem_right .price__roomlabel {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #DBDBDB;
}
.price__roominput:checked + .price__roomlabel {
	background: #FF5900;
	color: #fff;
}

.sliders__content {
	position: relative; 
	display: flex;
	flex-basis: 525px;
}  
.sliders__slider {
width: 100%;
margin-bottom: 2.31rem;
height: 0.7rem;
-webkit-appearance: none;
appearance: none;
background-color: #e5e5e5;
border-radius: 5px;
outline: none; }
.sliders__slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	cursor: pointer; }

.sliders__slider_color-orange::-webkit-slider-thumb {
background-color: #e75735; }

.sliders__pointer {
position: absolute;
background-color: transparent;
bottom: 12px;
color: #FECC2C;
font-size: 24px;
font-weight: 600; }
  
.price__check {
	width: 21px;
	-webkit-appearance: none;
	height: 21px;
	border: #ffffff 6px solid;
	
	border-radius: 50%;
	box-shadow: 0px 0px 3px #DBDBDB;
}
.price__check:checked {
	background: #FF5900;
}
.price__label {
	padding-left: 10px;
	min-width: 78px;
}
.price_gray {
  max-width: 1277px;
  background: #F5F5F5;
  border: 3px solid #FECC2C;
  border-radius: 5px;
}
.price__info {
	max-width: 725px;
	background: linear-gradient(90deg, #FED02D 0%, #FF9823 100%);
	border-radius: 5px;
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 32px 40px;
	position: relative;
}
.price__infowrap {
	display: grid;
    grid-auto-rows: 38px;
    align-items: center;
    grid-template-columns: 121px minmax(140px, max-content);
	column-gap: 25px;
	row-gap: 14px;
}
.price__call {
	display: flex;
}
.price__line {
	width: 107px;
	height: 0px;
	border: 1px dashed #FFFFFF;
	transform: rotate(90deg);
	position: absolute;
    margin-left: -54px;
    left: 50%;
}
.price__switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}  
.price__switch input {
opacity: 0;
width: 0;
height: 0;
}
.price__slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
.price__slider:before {
position: absolute;
content: "";
width: 26px;
height: 27px;
left: 7px;
bottom: 5px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
.price__checkbox:checked + .price__slider {
background-color: #FECC2C;
}
.price__checkbox:checked + .price__slider:before {
transform: translateX(32px);
}
.price__slider.price__round {
	border-radius: 34px;
	width: 73px;
	height: 38px;
}
.price__slider.price__round:before {
	border-radius: 50%;
}
@media screen and (max-width: 1092px) {
	.price {
		border: none;
		padding-right: 40px;
		padding-left: 30px;
		padding-top: 33px;
	}
	.price__h1 {
		font-size: 25px;
	}
	.price__h1_red {
		white-space: nowrap;
	}
	.price__h1_nopad {
		min-height: 70px;
		padding-top: 36px;
		padding-bottom: 0;
		font-size: 20px;
		box-sizing: content-box;
	}
	.price_gray {
		padding-top: 0;
	}
	.price__p {
		min-height: 26px;
		font-size: 12px;
	}
	.price__wraprow_yellow {
		justify-content: space-between;
		padding-bottom: 20px;
	}
	.price__p_large {
		font-size: 18px;
	}
	.price__p_pb7 {
		padding-bottom: 7px;
	}
	.price__select {
		width: 100%;
		min-height: 40px;
	}
	.price__input {
		width: 100%;
		min-height: 40px;
		min-width: 77px;
		padding: 0;
		text-align: center;
	}
	.price__input_120w {
		max-width: 77px;
	}
	.price__wraprow {
		flex-wrap: wrap;
	}
	.price__button_yellow {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.price__number {
		width: 77px;
		height: 40px;
	}  
	.price__number_wrap {
		padding-right: 16px;
	}	
	.price__wraprow_yellow {
		border: none;
	}
	.price__wrap_main {		
		background: #F5F5F5;
	}
	.price__rooms {
		width: 100%;
		display: flex;
	}	
	.price__roomitem {
		width: 100%;
	}
	.price__roomlabel {
		width: auto;
		height: auto;
		min-height: 40px;
	}
	.price__meter {
		padding-left: 11px;
		padding-right: 11px;
	}
	.price__line {
		display: none;
	}
	.price__arrow {
		top: 49%;
		right: 6%;
	}
	.wrap__40 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.price__slider.price__round {
		width: 57px;
		height: 30px;
	}
	.price__slider:before {
		width: 21px;
		height: 21px;
	}
	.price__arrow_white {
		display: none;
	}
	.price__checkbox:checked + .price__slider:before {
		transform: translateX(22px);
		}
	.price__infowrap {
		column-gap: 10px;
		row-gap: 12px;
	}
	.price__info {
		padding: 17px 45px;
	}
	.price__btnwrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 24px;
	}
 }
 @media screen and (max-width: 650px) {
	.price__info {
		flex-direction: column;
	}
 }
 @media screen and (max-width: 600px) {
	.price {
		padding-right: 19px;
		padding-left: 13px;
	}
	.price__h1 {
		font-size: 16px;
		max-width: 343px;
		margin:  0 auto;
		padding-bottom: 4px;
		min-height: 70px;
	}
 }

 @media screen and (max-width: 366px) {
	.price__button_yellow {
		max-width: 1000px;
	}
	.price__btninner:last-child {
		padding-left: 0;
		padding-top: 15px;
	}
 }

 .price__custom {
	position: relative;
	flex-grow: 2;
  }
  
  .price__custom select {
	display: none; 
  }
  .select-selected {
	background: white;
  }
  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
  }
  .select-items div,.select-selected {
	color: black;
	padding: 8px 16px;
	min-height: 60px;
	border: 1px solid #DBDBDB;
	border-radius: 3px;    
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
  }
  .select-items div,.select-selected:first-child {
	border-radius: 0px;
	margin-top: -3px;
  }
  .select-items {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	background: white;
	color: black;
	min-height: 50px;
  }
  
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }